PORT=5000
MONGO_URI=mongodb://shashiniruwanthika13_db_user:Srilanka@123@ac-lkcjzc6-shard-00-00.qejwoqa.mongodb.net:27017,ac-lkcjzc6-shard-00-01.qejwoqa.mongodb.net:27017,ac-lkcjzc6-shard-00-02.qejwoqa.mongodb.net:27017/?ssl=true&replicaSet=atlas-yfvwz3-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=supersecretkey
